XML-Schema.zip_expanded/XML-Schema/IntegracjaSchematow/integ3_4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  . . .
	<xs:element name="OSOBY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRACOWNICY" type=". . ."/>
				<xs:element name="DOKTORANCI" type=". . ."/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
