XML-Schema.zip_expanded/XML-Schema/IntegracjaSchematow/zesp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  targetNamespace="www.pp.pl/zesp" xmlns="www.pp.pl/zesp">
  <xs:element name="ZESPOLY">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW" maxOccurs="unbounded" type="TZespRow"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TZespRow">
    <xs:sequence>
      <xs:element name="ID_ZESP" type="xs:string"/>
      <xs:element name="NAZWA" type="xs:string"/>
      <xs:element name="ADRES" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
